.footer__nav {
    --gap: var(--size-base);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-shadow: 0 0 18px 3px var(--bg-accent-2);
    position: relative;
    height: 100%;
}

.footer__menu {
    display: flex;
    align-items: center;
    justify-content: left;
    list-style: none;
    gap: var(--size-xs);

    & li:last-child {
        margin-right: var(--size-base);
    }
}

.footer__link {
    color: var(--clr-neutral-100);
    text-decoration: none;
    font-weight: var(--font-weight-bold);
    font-size: var(--size-xs);
    transition: color 550ms;
    &:hover {
        color: var(--neutral-900);
    }
}

.footer__line {
    border: 1px solid var(--accent-1);
    padding-top: var(--size-base);
    margin-inline: var(--size-2xs);
}