.profiles__section {
    min-height: 900px; /* assuming stacking the cards in 3 rows for small screen */
}

.orbit {
    --transition-duration: 60s;
    --timing-func: linear;
    height: 100%;
}

.manager-profile, .employee-profile__wrapper {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.employee-profile__wrapper {
    display: grid;
    place-items: center;
    cursor: pointer;
}

.employee-profile {
    position: absolute;
}

/* rotate cards */
.employee-profile:nth-child(1) {
    transform: translateX(25rem);
}

.employee-profile:nth-child(2) {
    transform: rotate(45deg) translateX(30rem)  rotate(-45deg);
}

.employee-profile:nth-child(3) {
    transform: rotate(90deg) translateX(30rem)  rotate(-90deg);
}

.employee-profile:nth-child(4) {
    transform: rotate(135deg) translateX(30rem)  rotate(-135deg);
}

.employee-profile:nth-child(5) {
    transform: translateX(-25rem);
}

/* card design */
.tilting__card {
    --box-shadow: 1px 1px 34px 11px var(--bg-accent-2);
    --border: 1px solid var(--accent-1);
    --border-radius: 1rem;
    --content-padding: 1rem;
    --perspective: 1000px;
    --rotateX: 0deg;
    --rotateY: 0deg;
    --degree: 15deg;
    --transition-duration: 250ms;
    --timing-function: ease;

    display: grid;
    color: var(--neutral-100);
    font-family: var(--font-family-base);
    line-height: var(--size-base);
    width: 250px;
    aspect-ratio: 9 / 11;
    position: relative;
    overflow: hidden;
    align-content: space-evenly;
    justify-items: center;
    text-align: center;
    cursor: pointer;
    border-radius: var(--border-radius);
    border: var(--border);
    box-shadow: var(--box-shadow);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    transition: transform var(--transition-duration) var(--timing-function);

    & .card__img {
        border-radius: 50%;
    }

    & .card__title {
        font-family: var(--font-family-lato);
        font-size: var(--size-lg);
        text-transform: uppercase;
        transform: translateZ(5rem);
    }

    & .card__desc {
        font-size: var(--size-xs);
        padding-inline: var(--content-padding);
        color: var(--neutral-900);
    }

    & .connect-via ul {
        --color: var(--neutral-100);
        display: flex;
        list-style: none;
        align-items: center;
        gap: 10px;
        margin-bottom: var(--size-base);
    }

    & .connect-via ul li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        text-decoration: none;
        color: var(--color);
    }

    & .connect-via ul li a {
        display: inline-block;
        font-size: var(--size-xl);
        text-decoration: none;
        align-items: center;
        color: white;
    }
}

.glassmorphic__card {
    backdrop-filter: blur(17px) saturate(126%);
    -webkit-backdrop-filter: blur(17px) saturate(126%);
    background-color: rgba(17, 25, 40, 0.5);
}

.connect-via__neon-icon {
    position: relative;
    width: 40px;
    aspect-ratio: 1/1;
    border: var(--border);
    border-radius: 50%;
    box-shadow: 0 0 10px currentColor, 0 0 10px currentColor;

    &:hover, &:focus {
        color: currentColor;
        text-shadow: none;
    }

    &::before, &::after {
        content: '';
        position: absolute;
    }

    &::before {
        pointer-events: none;
        top: 100%;
        left: 0;
        /* instead of bottom and right so we can use top to move down the box which is of size button now */
        width: 100%;
        height: 100%;
        background: currentColor;
        transform: perspective(10rem) rotateX(60deg) scale(0.8);
        filter: blur(1rem);
        border-radius: 50%;
        opacity: 0.7;
    }

    &::after {
        inset: 0;
        background: currentColor;
        z-index: -1;
        opacity: 0;
        box-shadow: 0 0 6rem 1rem currentColor;
        border-radius: 50%;
    }

    &:hover::before, &:focus::before, &:hover::after, &:focus::after {
        opacity: 1;
    }
}

.connect-via__neon-icon:nth-child(1) {
    --color: #818cf8;
}

.connect-via__neon-icon:nth-child(2) {
    --color: #2dd4bf;
}

.connect-via__neon-icon:nth-child(3) {
    --color: #7dd3fc;
}

.connect-via__neon-icon:nth-child(4) {
    --color: #fb923c;
}