@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nova+Mono&display=swap');

/* Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* color */
    --bg-accent-1: 227 22% 17%;
    --bg-accent-2: 229 24% 13%;
    --bg-accent-primary: hsl(227, 22%, 17%);
    --bg-accent-secondary: hsl(229, 24%, 13%);
    --bg-accent-ternary: hsl(120, 32%, 70%);
    --accent-1: hsl(193, 100%, 68%);
    --accent-2: hsl(225, 75%, 56%);
    --accent-3: hsl(264, 100%, 38%);
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-700: hsl(0 0% 100% / .7);
    --neutral-900: hsl(0 0% 100% / .9);

    /* sizes */
    --size-5xs: 0.0625rem;
    --size-4xs: 0.125rem;
    --size-3xs: 0.25rem;
    --size-2xs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.75rem;
    --size-4xl: 2rem;
    --size-5xl: 3.5rem;

    /* Fonts */
    --font-family-base: 'Nova Mono', monospace;
    --font-family-lato: 'Lato', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-x-bold: 900;
    --font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-lato);
    font-size: var(--font-size);
    font-weight: var(--font-weight-x-bold);
    min-height: calc(100dvh - 1px);
    background: var(--bg-accent-secondary);
    display: grid;
    place-content: center;
}

main {
    perspective: 1000px;
}

.anakin-skywalker {
    --timing: 800ms;
    --timing-func: ease;
    --rotation-deg: 30deg;
    width: 350px;
    aspect-ratio: 9 / 11;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(40px);
    transition: all var(--timing) var(--timing-func);

    &::before, &::after {
        content: '';
        position: absolute;
    }

    &::after {
        inset: 70% 1.5rem 1rem;
        background: black;
        z-index: 1;
        filter: blur(1rem);
        transform: translateZ(-60px);
        transition: rotate var(--timing) var(--timing-func), transform var(--timing) var(--timing-func);
    }

    &::before {
        inset: 0;
        z-index: 5;
        background-image: radial-gradient(circle at center, transparent 50px, black);
        opacity: 0;
        transition: opacity var(--timing) var(--timing-func);
    }
}

.anakin-skywalker > * {
    position: absolute;
    opacity: 0;
}

.anakin-skywalker:hover {
    rotate: x var(--rotation-deg);

    &::before {
        opacity: 1;
    }

    &::after {
        rotate: x calc(var(--rotation-deg) * -1);
        translate: 0 50px;
    }

    & .anakin__logo {
        opacity: 0;
        rotate: x calc(var(--rotation-deg) * -1);
        transform: translateZ(40px) translateY(0);
    }

    & .darth-vader__logo {
        opacity: 1;
        rotate: x calc(var(--rotation-deg) * -1);
        transform: translateZ(40px) translateY(-5rem);
    }

    & .star-wars {
        rotate: x calc(var(--rotation-deg) * -1);
        transform: translateZ(40px) translateY(-20px);
    }

    & .darth-vader {
        opacity: 1;
        rotate: x calc(var(--rotation-deg) * -1);
        clip-path: polygon(16% 0, 87% 0, 100% 100%, 0% 100%);
    }
}

.anakin {
    opacity: 1;
    inset: 0;
    z-index: 4;
    object-fit: cover;
    object-position: center;
}

.anakin__logo, .darth-vader__logo {
    opacity: 0;
    z-index: 7;
    inset: auto 0 0.5rem;
    margin-inline: auto;
    transform: translateY(-4rem);
    transition: rotate var(--timing) var(--timing-func), transform var(--timing) var(--timing-func);
}

.anakin__logo {
    filter: invert(1);
    opacity: 1;
}

.star-wars {
    opacity: 1;
    inset: auto 0 0.5rem;
    margin-inline: auto;
    z-index: 7;
    transition: rotate var(--timing) var(--timing-func), transform var(--timing) var(--timing-func);
}

.darth-vader {
    bottom: -1px;
    z-index: 6;
    scale: 1.2;
    transform-origin: bottom right;
    transition: all var(--timing) var(--timing-func);
}

.anakin-skywalker:hover .darth-vader {
    opacity: 1;
}