@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Nova+Mono&display=swap');

/* Reset */
*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* color */
    --bg-accent-1: 227 22% 17%;
    --bg-accent-2: 229 24% 13%;
    --bg-accent-primary: hsl(0, 0%, 5%);
    --bg-accent-secondary: hsl(0, 0%, 39%);
    --bg-accent-ternary: hsl(120, 32%, 70%);
    --accent-1: hsl(193, 100%, 68%);
    --accent-2: hsl(225, 75%, 56%);
    --accent-3: hsl(264, 100%, 38%);
    --accent-4: hsl(152, 38%, 9%);
    --accent-5: hsl(338, 70%, 55%);
    --accent-6: hsl(183, 72%, 63%);
    --accent-7: hsl(334, 7%, 95%);
    --neutral-100: hsl(0, 0%, 100%);
    --neutral-700: hsl(0 0% 100% / .7);
    --neutral-900: hsl(0 0% 100% / .9);

    /* sizes */
    --size-5xs: 0.0625rem;
    --size-4xs: 0.125rem;
    --size-3xs: 0.25rem;
    --size-2xs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.75rem;
    --size-4xl: 2rem;
    --size-5xl: 3.5rem;

    /* Fonts */
    --font-family-base: 'Nova Mono', monospace;
    --font-family-lato: 'Lato', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-x-bold: 900;
    --font-size: 1rem;
}

img {
    display: block;
    max-width: 100%;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--font-size);
    font-weight: var(--font-weight-regular);
    min-height: calc(100dvh - 1px);
    display: grid;
    place-content: center;
    color: var(--neutral-100);
    background: var(--bg-accent-primary);
}

.card {
    --content-padding: 1rem;
    --padding: 1rem;
    --border-radius: 1rem;
    --box-shadow: 1px 1px 34px 11px var(--bg-accent-ternary);
    --timing-function: ease;
    --duration: 2500ms;
}

.card:hover .flipping-card {
    transform: rotateY(-0.5turn); /* 90 deg */
}

.flipping-card {
    width: 350px;
    aspect-ratio: 9 / 16;
    text-align: center;
    box-shadow: var(--box-shadow);
    position: relative;
    transform-style: preserve-3d;
    transition: transform var(--duration) var(--timing-function);
}

.flipping-card__front, .flipping-card__back {
    position: absolute;
    inset: 0;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: transform var(--duration) var(--timing-function);
}

.flipping-card__front {
    background: var(--accent-4);
    border-radius: var(--border-radius);
    color: var(--accent-6);
}

.flipping-card__back {
    background: var(--accent-5);
    color: var(--bg-accent-primary);
    transform: rotateY(-.5turn);
}

.flipping-card__title {
    padding-top: var(--padding);
    transform: translateZ(4rem);
    text-transform: uppercase;
}

.flipping-card__desc {
    padding: calc(var(--padding) * 2);
    transform: translateZ(4rem);
}

.details__border {
    position: relative;
    transform-style: preserve-3d;
    padding: var(--padding);
}

.details__border::before {
    content: '';
    --spacer: 1em;
    position: absolute;
    inset: var(--spacer);
    border: 3px solid currentColor;
    transform: translateZ(4rem);
}
