<div class="navbar fixed-bottom navbar-dark bg-dark">
    <div class="container justify-content-start align-items-end">
        <div class="row navbar-nav flex-sm-row">
            <div class="col-sm-auto nav-item">
                <a style="cursor: pointer" class="nav-link">Contact us</a>
            </div>
            <div class="col-sm-auto nav-item">
                <a style="cursor: pointer" class="nav-link">Newsletters</a>
            </div>
            <div class="col-sm-auto nav-item">
                <a style="cursor: pointer" class="nav-link">Privacy</a>
            </div>
        </div>
    </div>
</div>
